<div class="search__container">
  <input
    type="text"
    class="search__input"
    [(ngModel)]="searchQuery"
    [class.active]="isSearchInputVisible"
    (focus)="toggleFilterPanel(true)"
    placeholder="Поисковый запрос"
  />
  <a
    *ngIf="isSearchInputVisible"
    (click)="updateFilterHistory()"
    class="input__button"
  >
    Найти
  </a>
  <!-- Добавьте кнопку -->
  <div class="search" (click)="toggleSearchInput()"></div>
  <div class="header__add filters__search-button"></div>

  <app-filter-panel
    #filterPanelComponent
    *ngIf="isFilterPanelVisible"
  ></app-filter-panel>
</div>
